# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment configurations (Keep the .example file if you create one!)
.env
.env.*
!.env.example

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code 
.vscode/

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
